@import './theme.css';

.form-page {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2.5rem 2rem;
  min-width: 320px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
    display: block;
    font-weight: 600;
    /* color: #374151; */
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

.form-input {
  padding: 0.7rem 1rem;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  background: var(--input-bg);
  color: var(--text);
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}

.form-input:focus {
  border-color: var(--primary);
}

.form-btn {
  margin-top: 1rem;
  padding: 0.8rem 0;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.form-btn:hover {
  background: #e13c3e;
}